.footer__author {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 17px;
  color: #545454;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 990px) {
  .footer__author {
    font-size: 1.125rem;
    line-height: 22px;
  }
}
