.profile__name {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.688rem;
  line-height: 33px;
  text-align: end;
  margin-top: 22.25px;
  margin-right: 15.25px;
  margin-left: 0;
  margin-bottom: 14px;
  grid-area: title;
}

@media screen and (min-width: 990px) {
  .profile__name {
    font-size: 2.625rem;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 18px;
    max-width: 294px;
    align-items: center;
    justify-content: center;
    text-align: start;
    align-self: end;
  }
}
